@model IEnumerable<Article>

<div class="article-card-grid">
    @foreach (var article in Model)
    {
        <a asp-route="articledetails" asp-route-urlSlug="@article.UrlSlug">
            <div class="article-card">
                <img src="@article.Image" alt="@article.Name" />
                <div>
                    <span class="name">
                        @article.Name
                    </span>
                    <span class="price">
                        @article.Price kr
                    </span>
                </div>
            </div>
        </a>
    }
</div>